@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

body{
  background-color: #476f9a;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
/* NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV */

 .nav-area {
  display: flex;
  background: #226f54;

  z-index: 999;
  border-bottom: 4px solid #C0E0DE;
  box-shadow: 0px 0px 7px 3px #C0E0DE ;
  width: 100%;
  height: 10%;
  position: relative;
  align-content: stretch;
  align-items: center;
  justify-content: space-around;

}

.nav-name {
  color: #C0E0DE;
  font-size: 1.5em;

}

.nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-content: center;
  align-items: center;
}

 a {
  color: #c0e0de;
  text-decoration: none;
  display: block;
  padding: 15px;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.5s;
}

a:hover {
  color: #e07a5f;
  border-color: #e07a5f;
}



/* NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV */

/* Main Main Main Main Main Main Main Main Main Main Main Main Main */

section {
  display: flex;
flex-direction: column;
align-items: center;


}

div {
  display: flex;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  border-bottom: 4px solid #C0E0DE;
  box-shadow: 0px 0px 7px 3px #C0E0DE;
  color: #c0e0de;
  padding: 20px 0 20px 0
}

#bio {
  width: 80%;
}

#home {
  display: flex;

  background-size: cover;
  background-position: center;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

article {
  display: flex;
  max-width: 70%;
  color: #e07a5f;
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 40px 0 100px 0;
  padding: 0px 20px;
  border-radius: 12px;
  border-bottom: 4px solid #C0E0DE;
  box-shadow: 0px 0px 7px 3px #C0E0DE ;
  align-items: center;
}

h1 {
  font-family: 'Roboto', serif;
  text-align: center;
  font-size: 50px;
  color: #e07a5f;
  margin: 40px 0 0 0;
}

#me {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: auto;
  margin-top: 50px;
  float:
}

#resumep {
  width:600px;
  height:700px;
}



p {
  max-width: 70%;
  color: #e07a5f;
  margin: ;
}


#greeting {
  background-color: #226f54;
}
#bio {
  background-color: #226f54;
}
#resume {
  background-color: #226f54;
}

#projects {

  background-color: #226f54;
}

/* Main Main Main Main Main Main Main Main Main Main Main Main Main */

/* Carousel Carousel Carousel Carousel Carousel Carousel Carousel  */

#projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: none;
  box-shadow: none;
  padding: 0px 10px 0px 10px;
}


.carousel {
	width: 400px;
	display: flex;
	justify-content: space-around;
}

.carousel-images {
  display: flex;
	width: 80%;
  height: 80%;
  object-fit:cover;
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
  border-bottom: none;
  box-shadow: none;


}

.carousel-images img {
	width: 100%;
  max-height: 200px
	border-radius: 10px;

	display: none;
}

.button {
   font-size: 2em;
	align-self: center;
	background: #c0e0de;
	color: #e07a5f;
	padding: 0px;
	border-radius: 50%;
	text-align: center;

}

.button:hover {
	cursor: pointer;
	font-size: 2.2em;
	box-shadow: px 1px #e07a5f;
	color: #e07a5f;
}

.carousel-images img:first-of-type {
	display: block;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;

}

.links {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.5em;

}

/* Carousel Carousel Carousel Carousel Carousel Carousel Carousel  */





@media screen and (max-width: 550px) {

a {
 color: #c0e0de;
 text-decoration: none;
  display: block;
  padding: 5px;
  }

.container {

}

.button {
 font-size: 1.5em;
 max-width: 1.5em;
}

div {
  width: 100%;
}



@media screen and (max-width: 640px) {

  #resume {
        width:95%;

    }

#resumep {
  height: 600px;
  width: 95%;
}
}


@media screen and (max-width: 1000px) {

  p {
    width: 600px;
    color: #e07a5f;
  }
}
